/* Example CSS */
body {
    background-image: url('10.PNG');
    background-size: cover;
}

/* Scroll background */
.scroll {
    background-attachment: scroll;
}

/* Fixed background */
.fixed {
    background-attachment: fixed;
}

/* Local background */
.local {
    height: 300px;
    overflow: auto; /* Enables scrolling */
    background-attachment: local;
}
