/* Example CSS */
body {
    background-image: url('10.PNG');
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
}

/* Scroll background */
.scroll {
    background-attachment: scroll;
    border-style: dashed double groove unset;
    border-color: red green yellow black;
    border-width: 9px 10px 11px 12px;
    
}
.link{
    text-decoration: none;
    text-align:initial;
}

/* Fixed background */
.fixed {
    background-attachment: fixed;
}

/* Local background */
.local {
    height: 300px;
    overflow: auto; /* Enables scrolling */
    background-attachment: local;
}
